<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>NewsFeed</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-md-offset-3">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">News Feed</h3>
                    </div>
                    <div class="panel-body">
                        <a href="/user/post/newPost" class="btn btn-info btn-sm pull-right waves-effect waves-light">Post</a>
                        <div class="clearfix"></div>
                        <hr class="margin-bottom-10">
                        <ul class="list-group list-group-dividered list-group-full" th:each="item : ${post}">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading" th:text="${item.user.fullname}"></h4>
                                        <small class="text-muted pull-right" th:text="${item.createdDate}"></small>
                                        <div th:text="${item.content}"></div>
                                        <a th:href="@{'/user/post/like/{id}'(id=${item.id})}" class="col-md-2">
                                            <button type="button" class="btn btn-info btn-sm pull-left waves-effect waves-light" th:text="${'Like   +'+ item.likes}">Like</button>
                                        </a>
                                        <a th:href="@{'/user/comment/newComment/{id}'(id=${item.id})}" class="col-md-2">
                                            <button type="button" class="btn btn-info btn-sm pull-right waves-effect waves-light" th:text="Comment">Comment</button>
                                        </a>
                                    </div>
                                </div>
                                <div class="commentContainer">
                                    <ul class="list-group list-group-dividered list-group-full" th:each="cmt : ${comment}">
                                        <li class="list-group-item" th:if="${item.id} == ${cmt.post.id}">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="media-heading" th:text="${cmt.user.fullname}"></h4>
                                                    <small class="text-muted pull-right" th:text="${cmt.createdDate}"></small>
                                                    <div th:text="${cmt.content}"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h2>Comments:</h2>

                    <!--Comments-->
<!--                    <div class="well" th:each="cmt : ${comment}">-->
<!--                        <h3 th:text="${cmt.content}">Body</h3>-->
<!--&lt;!&ndash;                        <div th:text="'Created: ' + ${#dates.format(cmt.createDate, 'dd-MMM-yyyy')} + ' by '">&ndash;&gt;-->
<!--&lt;!&ndash;                            Created by&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        <div><a th:text="${cmt.user.fullname}" th:href="@{'/blog/' + ${cmt.user.fullname}}">User</a>-->
<!--                        </div>-->
<!--                    </div>-->

                    <!--Leave a comment button-->
                    <!--Only if authenticated-->
<!--                    <div sec:authorize="isAuthenticated()">-->
<!--                        <div class="row">-->
<!--                            <a th:href="@{'/commentPost/{id}'(id=${post.id})}" class="col-md-2">-->
<!--                                <button type="button" class="btn btn-primary btn-block" th:text="Comment">Comment</button>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
