<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>NewsFeed</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-md-offset-3">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">News Feed</h3>
                    </div>
                    <div class="panel-body">
                        <a href="/user/post/newPost" class="btn btn-info btn-sm pull-right waves-effect waves-light">Post</a>
                        <div class="clearfix"></div>
                        <hr class="margin-bottom-10">
                        <ul class="list-group list-group-dividered list-group-full" th:each="item : ${post}">
                            <li class="list-group-item">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading" th:text="${item.user.fullname}"></h4>
                                        <small class="text-muted pull-right" th:text="${item.createdDate}"></small>
                                        <div th:text="${item.content}"></div>
                                    </div>
                                </div>
                                <a href="" class="btn btn-info btn-sm pull-right waves-effect waves-light">Comment</a>
                            </li>
                        </ul>
                        <span class="text-info">163K users active</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
