<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div layout:fragment="content">
        <div class="mainContainer">
            <div class="panel-body">
                <h1 th:text="${currentUser.fullname}"></h1>
                <a th:href="@{'/user/editProfile/{id}'(id=${currentUser.id})}" class="col-md-2">
                    <button type="button" class="btn btn-info btn-sm pull-right waves-effect waves-light" th:text="Comment">Comment</button>
                </a>
            </div>
    </div>
</body>
</html>