<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div layout:fragment="content">
        <div class="mainContainer">
            <div class="panel-body">
                <div class="userDetails" th:if="${userDetails}">
                    <h1 th:text="${userDetails.firstName}"></h1>
                    <h1 th:text="${userDetails.middleName}"></h1>
                    <h1 th:text="${userDetails.lastName}"></h1>
                    <h1 th:text="${userDetails.address}"></h1>
                    <h1 th:text="${userDetails.city}"></h1>
                    <h1 th:text="${userDetails.state}"></h1>
                    <h1 th:text="${userDetails.zipCode}"></h1>
                </div>
                <a th:href="@{'/user/editProfile/{id}'(id=${currentUser.id})}" class="col-md-2">
                    <button type="button" class="btn btn-info btn-sm pull-right waves-effect waves-light" th:text="EditProfile">Edit Profile</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>