<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment</title>
</head>
<body>
<!--Leave a comment button-->
<!--Only if authenticated-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <div class="row" th:each="item : ${post}>-->
<!--            <a th:href="@{'/user/comment/post/{id}'(id=${post.id})}" class="col-md-2">-->
<!--                <button type="button" class="btn btn-primary btn-block" th:text="Comment">Comment</button>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<h1>Comment By ID</h1>
</body>
</html>